@font-face {
    font-family: 'anantha_signatureregular';
    src: url('../fonts/anantha_signature_for_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darktownregular';
    src: url('../fonts/darktown_vintage-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anantha_signature_for_personal_use-webfont';
    src: url('../fonts/anantha_signature_for_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AveriaGruesaLibre-Regular';
    src: url('../fonts/AveriaGruesaLibre-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'braxline-narrow-webfont';
    src: url('../fonts/braxline-narrow-webfont.woff') format('woff');
}
@font-face {
    font-family: 'PatrickHandSC-Regular';
    src: url('../fonts/PatrickHandSC-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'thechickennoodle-free-webfont';
    src: url('../fonts/thechickennoodle-free-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Galdeano-Regular';
    src: url('../fonts/Galdeano-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'amsterdam-webfont';
    src: url('../fonts/amsterdam-webfont.woff') format('woff');
}

@font-face {
    font-family: 'hypebeast_free_fontregular';
    src: url('../fonts/hypebeast_free_font_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mayesticaregular';
    src: url('../fonts/mayestica_otf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vuttalineregular';
    src: url('../fonts/vuttaline-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font-family: FontAwesome, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.3333333333333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-lg {
    font-size: 1.3333333333333333em;
    line-height: .75em;
    vertical-align: -15%
}
.fa-twitter-square:before {
    content: "\f081";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-dribbble:before {
    content: "\f17d";
}
.fa-rss-square:before {
    content: "\f143";
}
.fa-feed:before,
.fa-rss:before {
    content: "\f09e";
}
.fa-facebook-official:before {
    content: "\f230";
}
.fa-facebook-square:before {
    content: "\f082";
}
.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-linkedin-square:before {
    content: "\f08c";
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #fff;
}

ul {
    list-style: none;
    margin: 0px;
}

p {
    font-size: 13px;
    line-height: 22px;
    color: #4a4a4a;
}

.banner-contact{
    padding: 4em;
    background-color: #fffffb;
    color: black;
    text-align: center;
}
.banner-contact p{
    font-size: 32px;
    font-family: "braxline-narrow-webfont", sans-serif;
    margin-bottom: 1em;
}

.white-border-button a {
    padding: 14px 20px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
}

.pink-button a {
    padding: 14px 20px;
    background-color: #b94e5e;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
}

.white-button a {
    padding: 14px 20px;
    background-color: #fff;
    border-radius: 30px;
    color: #121212;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
}


.banner .col-md-8 {
    padding-left: 0px;
    padding-right: 5px;
}

.banner .col-md-4 {
    padding-right: 0px;
    padding-left: 5px;
}


.banner .left-banner-content {
    padding-top: 100px;
    padding-bottom: 175px;
    padding-left: 120px;
    text-align: left;
    background-image: url(../img/pexels-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 680px;
    height: 680px;
}

.left-banner-content h6 {
    text-align: center;
    font-size:39px;
    color: rgba(6, 6, 6, 0.99);
    font-family: "braxline-narrow-webfont", sans-serif;
    text-shadow: 1px 1px #fafafa;
}

.left-banner-content h1 {

    font-size: 90px;
    color: #fff9c2;
    letter-spacing: 1px;
    font-family: "vuttalineregular", sans-serif;
    text-shadow: 1px 2px black;
}
.left-banner-content p {
    font-size: 60px;
    color: #f8f8f8;
    line-height: 70px;
    font-family: "amsterdam-webfont", sans-serif;
    text-shadow: 1px 1px black;
}

.left-banner-content .line-dec {
    width: 60px;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #202121;
}

.left-banner-content .white-border-button {
    margin-top: 8em;
}

.right-banner-content {
    padding: 100px 45px;
    background-image: url(../img/ww.jpg);
    background-size: cover;
    background-position: center;
    background-color: #f4bc51;
    text-align: center;
    min-height: 680px;
    height: 680px;
}

.right-banner-content h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    margin-bottom: 5px;
    text-shadow: 1px 1px white;
}

.right-banner-content .line-dec {
    width: 100%;
    height: 5px;
    background-color: #f1f1f1;
    margin: 30px auto;
}

.right-banner-content span {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-transform: uppercase;
    color: #0a0a0a;
    letter-spacing: 0.5px;
}

.right-banner-content em {
    font-style: normal;
    font-weight: 700;
}

.right-banner-content p {
    font-style: italic;
    font-size: 17px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.37);
    color: #f5f5f5;
}

.right-banner-content .social-icons {
    margin-top: 40px;
    padding: 0;
    list-style: none;
}

.right-banner-content .social-icons li {
    display: inline-block;
    margin: 0px 3px;
}

.right-banner-content .social-icons li a {
    width: 36px;
    height: 36px;
    text-align: center;
    display: inline-block;
    line-height: 36px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
    color: #f4bc51;
    font-size: 17px;
}

.right-banner-content .social-icons li a:hover {
    background-color: #d59b2b;
}

/*----------------------------------------------------*/
.best-offer {
    margin-top: 10px;
}

.best-offer .col-md-4 {
    padding-left: 0px;
    padding-right: 5px;
}

.best-offer .col-md-8 {
    padding-right: 0px;
    padding-left: 5px;
}

.best-offer-left-content {
    min-height: 550px;
    height: 550px;
    padding-top: 175px;
    padding-bottom: 175px;
    text-align: center;
    background-color: #32dba8;
}

.best-offer-left-content2 {
    min-height: 550px;
    height: 550px;
    padding-top: 175px;
    padding-bottom: 175px;
    text-align: center;
    background-color: rgba(231, 87, 64, 0.96);
    color: white;
    margin-left: 1em;
}
.best-offer-left-content2 p{
    padding: 2em;
    color: white;
    font-size: 15px;
}
@media (min-width: 368px) {
    .best-offer-left-content2 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .best-offer-left-content2 {
        margin-left: 1em;
    }
}

.best-offer-left-content2 .icon {
    text-align: center;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    line-height: 140px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

.hk {
    padding-left: 3em;
}

@media (min-width: 368px) {
    .hk {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .hk {
        padding-left: 3em;
    }
}

.best-offer-left-content .icon {
    text-align: center;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    line-height: 140px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

.best-offer-left-content h4 {
    margin-top: 33px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.best-offer-right-content {
    background-color: #ffffff;
    padding: 80px 40px;
    min-height: 550px;
    height: 550px;
}

.best-offer-right-content h2 {
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    color: #121212;
    line-height: 30px;
    font-family: "braxline-narrow-webfont", sans-serif;
}

.cuba {
    margin-left: 5em;
}

.best-offer-right-content p {
    text-align: justify;
    margin: 18px 0px;
    font-size: 16px;
    font-family: "AveriaGruesaLibre-Regular", sans-serif, sans-serif;
}

.best-offer-right-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.best-offer-right-content ul li {
    display: block;
    font-size: 15px;
    font-style: italic;
    color: #7a7a7a;
    margin-bottom: 10px;
}

.best-offer-right-content .pink-button {
    margin-top: 45px;
}

/*----------------------------------------------------------*/

.testimonial {
    margin-top: 10px;
}

.testimonial .col-md-8 {
    padding-left: 5px;
    padding-right: 0px;
}

.testimonial .col-md-4 {
    padding-right: 5px;
    padding-left: 0px;
}

.testimonial-image {
    text-align: center;
    background-image: url(../img/pexels-photo-457876.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    height: 600px;

}

#owl-testimonial {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-image: url(../img/testimonial-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    height: 600px;
}

#owl-testimonial .item {
    text-align: center;
}

#owl-testimonial .item img {
    width: 130px;
}

#owl-testimonial .item span {
    margin-top: 28px;
    display: block;
    color: #e86859;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
}

#owl-testimonial .item h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: #121212;
}

#owl-testimonial .item p {
    font-size: 17px;
    font-style: italic;
    color: #4a4a4a;
    padding: 0px 120px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.5px;
}

/*--------------------- CAROUSEL ------------*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* display none until init */
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls {
    top: -200px;
    width: 100%;
    text-align: center;
    display: inline-block;

}

.owl-controls a {
    color: #336699;
}

.owl-controls a:hover {
    color: #336699;
}

.owl-controls .bg-prev {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    z-index: 10;
    background: #fff;
    border: 1px solid #336699;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.owl-controls .bg-prev:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 2px solid #336699
}

.owl-controls .prev {
    left: 15px;
    z-index: 11;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 32px;
}

.owl-controls .prev.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.owl-controls .prev:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.owl-controls .bg-next {
    position: absolute;
    float: right;
    z-index: 1;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 10;
    background: #fff;
    border: 1px solid #336699;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.owl-controls .bg-next:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 2px solid #336699
}

.owl-controls .next {
    right: 15px;
    z-index: 11;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 32px;
}

.owl-controls .next.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.owl-controls .next:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.owl-theme .owl-controls .owl-page {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    *display: inline; /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page a {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0px 5px;
    filter: Alpha(Opacity=50); /*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #888;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
    display: inline-block;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}


/*----------------- carousel pagination ---------------*/
.owl-pagination {
    margin-top: 15px;
    margin-left: -30px;
    opacity: 1;
    display: inline-block;
    position: absolute;
    text-align: center;
    z-index: 9999;
}

.owl-page span {
    text-align: center;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #e86859;
}

/*------------------ Flip container - service ------------*/
.services {
    margin-top: 10px;
    padding-top: 0vh;
    padding-bottom: 0vh;
    text-align: center;
    background-image: url(../img/services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.services .col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.services .col-md-3 {
    padding-right: 0px;
    padding-left: 0px;
}

.flip-container {
    perspective: 1000;
}

/* turning on hover */

.flip-container:hover .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 350px;
    text-align: center;
    font-size: 30px;
    text-transform: lowercase;
}

/* flipping speed here */

.front {
    padding: 40px 30px;
}

.front .icon {
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 30px auto;
}

.front h4 {
    margin-top: 0px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.flipper {
    -webkit-transition: 0.3s all;
    -webkit-transition-delay: 0.3s;
    -moz-transition: 0.3s all;
    -moz-transition-delay: 5s;
    -ms-transition: 0.3s all;
    -ms-transition-delay: 5s;
    -o-transition: 0.3s all;
    -o-transition-delay: 5s;
    transition: 0.3s all;
    transition-delay: 0.3s;
    transform-style: preserve-3d;
    position: relative;
}

/* making the the other side hidden while flipping */


.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    color: white;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back side */

.back {
    transform: rotateY(180deg);
}

.back p {
    color: #ffffff;
    font-size: 18px;
    padding: 90px 30px;
    font-family: "AveriaGruesaLibre-Regular", sans-serif;
}

.first-service .front,
.first-service .back {
    background-color: rgba(56, 96, 208, 0.66);

}

.second-service .front,
.second-service .back {
    background-color: rgba(255, 87, 47, 0.68);
}

.third-service .front,
.third-service .back {
    background-color: rgba(133, 79, 230, 0.5);
}

.fourth-service .front,
.fourth-service .back {
    background-color: rgba(252, 242, 93, 0.88);
}

/*--------------- Contact -------------------*/
.contact-us .col-md-8 {
    padding-left: 5px;
    padding-right: 5px;
}

.contact-us .col-md-4 {
    padding-right: 5px;
    padding-left: 5px;
}

#contact .col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
}

.contact-us {
    margin-top: 10px;
}
.contact-us p{
    color: white;
    font-size: 20px;
}

.contact-us #contact {
    min-height: 500px;
    height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
    background-image: url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contact .btn {
    background-color: #b94e5e;
}

#contact input::placeholder {
    color: #1e0000;
}

#contact textarea::placeholder {
    color: #1a0000;
}

#contact input {
    border-radius: 0px;
    padding-left: 15px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(215, 215, 215, 0.78);
    border-bottom: 2px solid #fff;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
}

#contact textarea {
    border-radius: 0px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(215, 215, 215, 0.78);
    border-bottom: 2px solid #fff;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    height: 165px;
    max-height: 165px;
    min-height: 165px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 25px;
}

#contact button {
    float: left;
    padding: 14px 20px;
    background-color: #f39e4b;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
    outline: none;
}

.contact-right-content {
    min-height: 500px;
    height: 500px;
    line-height: 500px;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(116, 118, 122, 0.8) 0%, rgba(69, 69, 71, 0.43) 100%),
    url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contact-right-content .icon {
    text-align: center;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    line-height: 140px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

.contact-right-content h4 {
    margin-top: 33px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

/*------------------- Footer ------------------*/
footer {
    height: 80px;
    margin-top: 10px;
    background-color: #bfd8d2;
    text-align: center;
}

footer p {
    font-size: 13px;
    color: #333;
    line-height: 80px;
    margin-bottom: 0px;
}

footer p em {
    font-weight: 700;
    font-style: normal;
}


@media (max-width: 991px) {
    .logo img{
        width: 120px;
    }

    .back p {
        color: #ffffff;
        font-size: 16px;
        padding: 90px 30px;
    }
    .right-banner-content p {
        font-style: italic;
        font-size: 16px;
        padding: 0.7em;
        background-color: rgba(0, 0, 0, 0.37);
        color: #f5f5f5;
    }
    .right-banner-content h2 {
        font-size: 30px;
    }
    .right-banner-content span {
        font-size: 17px;
    }
    .banner .col-md-8 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner .col-md-4 {
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .banner-contact{
        padding: 2em;
        background-color: #fffffb;
        color: black;
        text-align: center;
    }
    .banner-contact p{
        font-size: 24px;
        font-family: "braxline-narrow-webfont", sans-serif;
        margin-bottom: 1em;
    }
    .banner .left-banner-content {
        padding-left: 0px;
        text-align: center;
        padding-top: 2em;
    }
    .left-banner-content .white-border-button {
        margin-top: 6em;
    }
    .left-banner-content h1 {
        font-size: 60px;
        font-weight: 100;
        color: #fff;
    }
    .left-banner-content h6 {
        padding-top: 1em;
        font-size: 20px;
        color: #fff;
    }
    .left-banner-content p {
        font-size: 45px;
        color: #fff;
    }


    .banner .left-banner-content .line-dec {
        margin-top:2em;
    }

    .best-offer .col-md-8 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .best-offer .col-md-4 {
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .best-offer-right-content {
        text-align: center;
    }

    .best-offer-right-content {
        background-color: #ffffff;
        padding: 30px 30px;
        min-height: 550px;
        height: auto;
    }

    .cuba {
        margin-left: 0;
    }

    .best-offer-right-content .pink-button {
        margin-bottom: 50px;
    }

    .testimonial .col-md-8 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .testimonial .col-md-4 {
        margin-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .owl-pagination {
        margin-top: -15px;
    }

    #owl-testimonial {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #owl-testimonial .item p {
        padding: 0px 60px;
        font-size: 15px;
    }

    .services {
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact-us .col-md-8 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .contact-us .col-md-4 {
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .contact-us #contact {
        padding-left: 60px;
        padding-right: 60px;
    }
    .contact-us p {
        font-size: 12px;
    }

    .contact-us #contact {
        min-height: 600px;
        height: 600px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    footer {
        margin-right: 10px;
        margin-left: 10px;
    }

    footer p {
        font-size: 11px;
    }

}

